<ion-view>
  <div class="bar bar-header">
    <div class="title" translate>size-title</div>
  </div>

  <ion-content scroll="false">

    <div class="row row-center no-padding" style="height: 100%;">
      <div class="col no-padding">
        <div class="card">
          <div class="item item-text-wrap custom-item text-center" ng-click="setSize(1)">
            <h1 translate>size-1</h1>
            <p translate>size-1-desc</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap custom-item text-center" ng-click="setSize(2)">
            <h1 translate>size-2</h1>
            <p translate>size-2-desc</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap custom-item text-center" ng-click="setSize(3)">
            <h1 translate>size-3</h1>
            <p translate>size-3-desc</p>
          </div>
        </div>

        <div class="card">
          <div class="item item-text-wrap custom-item text-center" ng-click="setSize(4)">
            <h1 translate>size-4</h1>
            <p translate>size-4-desc</p>
          </div>
        </div>

      </div>
    </div>
    
  </ion-content>
</ion-view>